* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  min-width: 0;
}

#root{
  width: 100%;
}

.outline {
  outline: 2px solid #cc7832;
}

.opacity {
  opacity: 0.5;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: burlywood;
  height: 48px;
  padding: 0 1em;
}

.clear-storage {
  padding: 0.5em 1em;
  line-height: 1;
}

.main {
  display: grid;
  width: 100vw;
  height: calc(100vh - 48px);
  background: #eee;
  grid-template-columns: 1fr 220px;
  overflow: hidden;
}

.sidebar {
  border-left: #1a1a1a;
  padding: 2em;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  background: #888888;
}

.content {
  padding: 2em;
  overflow-y: auto;
}

.page {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 4em;
  margin-bottom: 2em;

  border: 1px solid #1a1a1a;
  border-radius: 16px;
  background: #e3e2e2;
  width: 100%;
}

.section {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 4em;

  border: 1px solid #888888;
  border-radius: 16px;
  background: #c2c2c2;
}

.title {
  position: absolute;
  top: 12px;
  left: 12px;
  color: black;
}

.form-content {
  position: relative;
  padding: 2em;
  background: white;
  border-radius: 16px;
  color: black;
}

.hide-btn {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 24px;
  height: 24px;
  padding: 0;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 8px;

  & > label {
    font-weight: bold;
    color: black;
  }
}

.addPageBtn {
  position: fixed;
  bottom: 12px;
  left: 12px;
  width: 24px;
  height: 24px;
  padding: 0;
}

.save-button {
  margin-top: auto;
}

.nav-wrapper {
  display: flex;
  gap: 8px;
}

.preview-content{
  padding: 4em;
  display: flex;
    flex-direction: column;
    gap: 16px;
  align-items: center;
  width: 100%;
}

.paginator{
    display: flex;
    gap: 24px;
}
